body {
  background-color: rgba(47, 223, 91, 0.24);
}

.bar {
  padding: 7px;
  margin-top: 5px;
  margin-bottom: 5px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  background-color: rgb(95, 28, 92);
}

.bar table tr td a {
  float: inline-end;
  direction: ltr;
  color: white;
  text-decoration: none;
}

p {
  text-align: center;
  font-size: 27px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.logo {
  align-items: left;
  float: left;
  vertical-align: top;
  width: 50;
  height: 60;
}

.item {
  float: inline-end;
  vertical-align: top;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  margin-left: 10px;
}

.image {
  margin-left: 100px;
  margin-top: 25px;
}
